:root {
  --main-text-color: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    linear-gradient(0deg, #1443bd, #1443bd);
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url(./assets/fonts/SVNGilroyLight.otf) format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(./assets/fonts/SF-Pro-Display-Bold.otf) format('opentype');
}

body {
  font-family: 'SVN-Gilroy';
}

.container {
  padding: 0px 108px;
}

.flex {
  display: flex;
}

.cursor {
  cursor: pointer;
}

.z-index-999 {
  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.0015em;

  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow-down-icon {
  margin-left: 9px;
  margin-top: 3px;
}

.header-content-btn-container {
  display: flex;
  align-items: center;
  margin-top: 56px;
}

.header-content-take-a-trip-btn-container {
  display: flex;
  align-items: center;
  z-index: 999;
}

.header-main-content-left {
  margin-top: 100px;
}

.sign-in-sign-up-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sign-in-btn {
  margin-right: 24px;
  font-weight: 700;
  font-size: 14px;

  text-align: center;
  letter-spacing: 0.0125em;
  color: #2a84c6;
}

.sign-up-btn {
  background-color: #1443bd;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.0125em;
  color: #ffffff;
  border-radius: 4px;
}

.sign-up-heading {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.005em;

  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sign-up-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.005em;
  margin-bottom: 0;

  margin-top: 16px;

  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-btn-title {
  margin-left: 8px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.0125em;
  color: #2a84c6;
}

.line-icon {
  margin-left: 24px;
}

.get-started-btn {
  margin-left: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;

  width: 181px;
  height: 56px;

  background: linear-gradient(
      0deg,
      rgba(13, 50, 145, 0.2) 0%,
      rgba(16, 54, 151, 0) 100%
    ),
    #1443bd;
  border-radius: 8px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  text-align: center;
  letter-spacing: 0.0015em;

  color: #ffffff;
}

.sign-up-banner-image-container {
  margin-top: 30px;
}

.sign-up-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sign-up-content-container {
  display: flex;
}

.header-container {
  position: relative;
  padding-top: 36px;
  background-image: url(./assets/images/BackgroundTopHeader.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header-background {
  position: absolute;
  bottom: -2%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.reasons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pey-me-heading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reasons-heading {
  margin-top: 100px;
}

.reasons-heading,
.features-heading {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;

  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features-background-container {
  display: flex;
  position: relative;
}

.reasons-description,
.features-description {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  letter-spacing: 0.005em;
}

.features-image {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 16px;
}

.reasons-items-container {
  margin-top: 115px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.reasons-item-image {
  width: 190px;
  height: 160px;
}

.background-container {
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: -1;
  background-image: url(./assets/images/ReasonsBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75% 100%;
  transform: rotate(4deg);
}

.reasons-background {
  position: absolute;
  right: 12%;
  top: 5%;
  z-index: -1;
}

.reasons-item {
  width: 22%;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reasons-item-title {
  margin-top: 30px;

  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  text-align: center;

  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reasons-item-description {
  margin-top: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  letter-spacing: 0.005em;

  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.padding-top-bottom-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-top-bottom-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.steps-heading {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.0025em;

  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.steps-description {
  margin-top: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.steps-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps-item-icon-container {
  width: 15%;
}

.steps-item-content-container {
  width: 83%;
}

.steps-content-title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, #1443bd, #1443bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.steps-content-description {
  margin-top: 12px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;

  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features-description {
  width: 40%;
}

.features-content {
  margin-top: 60px;

  height: 216px;
  background-color: #fafcfd;
  border-radius: 16px;

  display: flex;
  align-items: center;
  padding: 28px;
}

.features-card-content-container {
  margin-left: 36px;
}

.features-content-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    linear-gradient(0deg, #1443bd, #1443bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features-content-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    linear-gradient(0deg, #1443bd, #1443bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: 24px;
  width: 90%;
}

.download-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.download-heading {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download-description {
  margin-top: 12px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;
  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download-applestore-googleplay-btn-container {
  display: flex;
  margin-top: 40px;
}

.apple-store-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;

  width: 183px;
  height: 56px;
  background: #ffffff;
  border-radius: 8px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.0015em;

  color: #2a84c6;
}

.google-play-btn {
  margin-left: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;

  width: 185px;
  height: 56px;
  background: linear-gradient(
      0deg,
      rgba(13, 50, 145, 0.2) 0%,
      rgba(16, 54, 151, 0) 100%
    ),
    #1443bd;
  border-radius: 8px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.0015em;
  color: #ffffff;
}

.support-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
  position: relative;
}

.support-icon-background {
  width: 228px;
  height: 66px;
  position: absolute;
  bottom: 0;
  right: -30%;
}

.support-heading {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.support-title {
  margin-top: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, #1443bd, #1443bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.support-description {
  margin-top: 4px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.0025em;

  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.support-btn {
  margin-top: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;

  width: 132px;
  height: 36px;
  background: linear-gradient(
      0deg,
      rgba(13, 50, 145, 0.2) 0%,
      rgba(16, 54, 151, 0) 100%
    ),
    #1443bd;
  border-radius: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.0125em;
  color: #ffffff;
}

.partners-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-content-wrapper {
  width: 35%;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

.partners-heading {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;

  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partners-title {
  margin-top: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005em;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, #1443bd, #1443bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partners-description {
  margin-top: 4px;
  margin-bottom: 0;
  padding-bottom: 37px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.0025em;

  background: var(--main-text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-container {
  padding: 46px 108px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    linear-gradient(0deg, #1443bd, #1443bd);
}

.footer-category-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.0015em;
  color: #ffffff;
}

.footer-ul-container {
  list-style-type: none;
  padding: 0;
}

.footer-ul-container > li > a {
  color: #ffffff;
}

.footer-category-item {
  margin-top: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0125em;
  color: #ffffff;
}

.footer-category-title > li:first-child {
  margin-top: 16px;
}

.footer-sign-up-btn {
  margin-top: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;

  width: 184px;
  height: 36px;
  background: #ffffff;
  border-radius: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.0125em;
  color: #0a215f;
}

.footer-company-copyright {
  width: 50%;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.004em;
  color: #ffffff;
}

.logo-footer-container {
  margin-top: 72px;

  display: flex;
  align-items: center;
}

.footer-social-contact-container {
  margin-top: 82px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.footer-social-contact-wrapper {
  width: 70%;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-line-icon {
  margin-left: 36px;
  margin-right: 36px;
}

.features-background {
  position: absolute;
  top: 10%;
  left: 12%;
}

.brand-partners-logo-container {
  margin-top: 37px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-partners-logo-container > img {
  object-fit: contain;
}
